/*----------------------------------------------------------------------------*/
/*----------------------------------- css ------------------------------------*/
/*----------------------------------------------------------------------------*/

/* button */

.btn{
    -fx-background-color: #4ae340;
    -fx-background-radius: 30px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.btn:hover {
    -fx-background-color: #4fff45;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#playbtn{
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-font-size: 28px;
}

#addbtn{
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-font-size: 19px;
}

.doneBtn{
    -fx-background-color: #e6df17;
}

.doneBtn:hover {
    -fx-background-color: #fff817;
}

.cancelBtn{
    -fx-background-color: #de9c00;
}

.cancelBtn:hover {
    -fx-background-color: #ffb300;
}

.deleteBtn{
    -fx-background-color: #db3400;
}

.deleteBtn:hover {
    -fx-background-color: #ff3c00;
}

/* button icon */

.homeBtn:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}

.settingBtn:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}


/* font css */

.main-font{
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-font-size: 22px;
}

.inGame-font{
    -fx-font-family: "Arial Black", Gadget, sans-serif;
    -fx-font-size: 22px;
}

.font-weight-bold {
    -fx-font-weight: bold;
}

.smaller-font-size{
    -fx-font-size: 16px;
}

.bigger-font-size{
    -fx-font-size: 30px;
}

/* background image */

.flowerPane{
     -fx-background-image:url('file:src/main/resources/com/tsb/frogger/images/misc/flowerBackground.jpg');
     -fx-background-size: 540 720;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center center;
}

.housePane{
     -fx-background-image:url('file:src/main/resources/com/tsb/frogger/images/misc/houseBackground.jpg');
     -fx-background-size: 540 720;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center center;
}

.forestPane{
     -fx-background-image:url('file:src/main/resources/com/tsb/frogger/images/misc/forestBackground.jpg');
     -fx-background-size: 540 720;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center center;
}

/* containers */

.half-opaque-container {
    -fx-background-color: rgba(179, 255, 188, 0.7);
    -fx-background-radius: 30px;
}

.opaque-container {
    -fx-background-color: rgba(179, 255, 188, 1);
    -fx-background-radius: 30px;
}

.black-container {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.container-border {
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-radius: 30px;
    -fx-background-insets: 0px;
}

/* global listview */

.listview{
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-background-radius: 5px;
}

.list-view .cell:hover{
    -fx-text-fill: green;
}

.list-view .list-cell:odd {
    -fx-background-color: #bdffd9;
}

.list-view .list-cell:even {
    -fx-background-color: #e3ffef;
}

.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: #4dff99;
}

/* global scroll bar */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #bdffd9;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : #bdffd9;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : #bdffd9;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #424242;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #242424;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

/* textField and text area */

.textfield{
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-background-radius: 5px;
    -fx-background-color: #e3ffef;
}

.textArea .content {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
}

.textArea {
    -fx-background-color: rgba(245, 182, 66, 0.8);
    -fx-background-radius: 15px;
    -fx-background-insets: 0px;
}

.textArea .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.textArea .scroll-pane {
    -fx-background-color: transparent;
}

.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

/* combo box */

.combo-box {
    -fx-background-color: #aee02d;
    -fx-background-radius: 30px;
    -fx-border-color: #000000;
    -fx-border-radius: 30px;
    -fx-border-width: 3px;
    -fx-padding: 0px 10px 0px 20px;
}

.combo-box: showing {
    -fx-background-color: #c8ed6b;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-font-size: 22px;
    -fx-alignment: CENTER;
}

.combo-box .combo-box-popup .list-view {
    -fx-padding: 3px 2px 3px 0px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-background-radius: 5px;
}

.combo-box .arrow-button .arrow{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}











